.wrapper-recommendations-box {
  display: flex;           /* Enables flexbox layout */
  gap: 10px;               /* Adds space between each recommendations-box */
  border-radius: 10px;
  background-color: #607126;
  margin-top: 40px;        /* Space above the component */
  width: 95%;              /* Takes up 95% of its container width */
  max-width: 100%;         /* Optional: sets a maximum width to be responsive */
  margin-left: auto;      /* Centers the box horizontally */
  margin-right: auto;
  flex-wrap: wrap;        /* Allows wrapping of child elements if needed */
  padding: 10px;          /* Optional: adds padding around the content */
}

.recommendations-box {
  flex: 1 1 100%;         /* Ensures the box can grow and shrink but initially takes full width */
  height: auto;           /* Makes the height adjust based on content */
  gap: 16px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  min-width: 200px;      /* Optional: sets a minimum width for responsiveness */
}
