.wrapper-recommendations-box {
  /* white-space: nowrap;     Prevents wrapping to the next line */
  display: flex;           /* Enables flexbox layout */
  gap: 10px;               /* Adds space between each MetricBox */
  border-radius: 10px;
  background-color: #607126;
  margin-top: 20px; /* Add this line to create space above the component */
  width: 95%; /* Makes the box take up 90% of its container width */
  max-width: 67000px; /* Optional: sets a maximum width */
  margin-left: auto; /* Centers the box horizontally */
  margin-right: auto;
}

.recommendations-box {
  width: 100%;
  height: 100px;
  gap: 16px;
  padding: 10px;
  border-radius: 10px;
}
