

body {
  background-color: #000000; /* Black background for the entire page */
  color: #ffffff; /* Optional: Set text color to white for better visibility */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: 'Nunito Sans', sans-serif;
}

/*PAGE CONTAINER*/
.page-container {   /* Ensure the main container spans the full viewport height */
  min-height: 100vh; /* Full viewport height */
  display: flex; /* Flexbox layout to center content */
  flex-direction: column;
}



/*------------------------------------------------------------------------------*/




/*THIS IS THE TOP INFO*/
.Ulu_3 {
  font-size: 24px;        /* Set the font size */
  font-weight: 500;      /* Make the text bold */
  color: #ffffff;            /* Set the text color */
  text-align: right;     /* Center the text */
  margin-top: 10px;       /* Add space above the text */
  padding-right: 20px;
  padding-bottom: 0%;
  font-family: 'Nunito Sans', sans-serif;
}


.sample_id_name {
  font-size: 24px;        /* Set the font size */
  font-weight: 500;      /* Make the text bold */
  color: #ffffff;            /* Set the text color */
  text-align: left;     /* Center the text */
  margin-top: px;       /* Add space above the text */
  padding-left: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.soil_type {
  font-size: 16px;
  margin-top: 5px; /* Adjust this value to control the spacing */
  margin-left: auto;
  margin-right: 15px;
  text-align: right;
  padding-top: 0%;
  color: #B1C081;
  padding-right: 10px;
  font-weight: 100;
  font-family: 'Nunito Sans', sans-serif;
}


.unique_sample_number {
  font-size: 24px;        /* Set the font size */
  font-weight: bold;      /* Make the text bold */
  color: #ffffff;            /* Set the text color */
  text-align: center;     /* Center the text */
  margin-top: 10px;       /* Add space above the text */
  margin-bottom: 10px;    /* Add space below the text */
  font-family: 'Nunito Sans', sans-serif;
}

.align-horizontal {
  display: flex;
  justify-content: space-between; /* Aligns the elements horizontally */
  align-items: center; /* Vertically centers the elements */
}

.Date {
  font-size: 16px;        /* Set the font size */
  font-weight: 100;
  color: #B1C081;            /* Set the text color */
  text-align: center;     /* Center the text */
  margin-top: 10px;       /* Add space above the text */
  margin-bottom: 10px;
  padding-right: 20px;
  font-family: 'Nunito Sans', sans-serif;
}
/*------------------------------------------------------------------------------*/


/*METRIC CONTAINER BOXES*/

/* Wrapper styling */
.wrapper-metric-boxes {
  height: 300px;
  overflow-x: auto;        /* Enables horizontal scrolling */
  overflow-y: hidden;      /* Hides vertical scrolling */
  white-space: nowrap;     /*Prevents wrapping to the next line*/
  display: flex;           /* Enables flexbox layout */
  gap: 10px;               /* Adds space between each MetricBox */
  border-radius: 10px;
  width: 95%; /* Makes the box take up 90% of its container width */
  max-width: 67000px; /* Optional: sets a maximum width */
  margin-left: auto; /* Centers the box horizontally */
  margin-right: auto;
}



/* Container for the metric boxes */
.metric-box-container {
  display: flex;              /* Align boxes in a row */
  overflow-x: auto;           /* Enable horizontal scrolling */
  gap: 16px;                  /* Space between boxes */
  border: #ffffff;
  border-radius: 10px;

}



.metric-box {
  width: 200px;               /* Set a fixed width for each box */
  height: 300px;              /* Set a fixed height for each box */
  border-radius: 10px;        /* Rounded corners */
  box-sizing: border-box;     /* Include padding and border in the element's width and height */
  flex: auto;                 /* Prevent boxes from shrinking or growing */
  /* display: flex;              Enable flexbox layout */
  flex-direction: column;     /* Stack children vertically */
  justify-content: center;    /* Center content vertically */
  align-items: center;        /* Center content horizontally */
  text-align: center;         /* Center text within each line */
  color: #ffffff;           /* White text */
  padding: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  overflow: hidden; /* Ensure content doesn't overflow the rounded corners */
}



.metric-range-wrapper {
  background-color: #ffffff;
  width: calc(100% + 40px);
  margin-left: -20px;
  padding-bottom: 60px;
  padding-top: 10px;
}



.metric-value-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}



.second-number{
  vertical-align: 35px;
}



.metric-value {
  font-weight: 600;
}



/* The name of the element */
.metric-unit {
  font-size: 1em;
  margin-top: 5px; /* Add some space above the unit*/
}



.metric-range {
  margin-top: 20px;
  background-color: #ffffff00;
  border-radius: 5px;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}


.range-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 0.9em;
}



/* Container for the range bar */
.range-bar {
  position: relative; /* Set position relative for the range bar */
  width: 100%;        /* Full width of the metric box */
  height: 5px;       /* Height of the range bar */
  border-radius: 5px; /* Rounded corners */
  overflow: hidden;   /* Hide overflow to keep range fill within the bar */
}



/* Range tick mark */
.range-fill {
  position: absolute; /* Absolute positioning within the range bar */
  height: 15px;       /* Full height of the range bar */
  width: 5px;         /* Width of the tick mark */
  background-color: #ffffff; /* Color of the tick mark */
}



.optimum-text {
  margin-top: 5px;
  font-size: 0.9em;
  color: #000000;
}
