.wrapper-Oli-box {
  /* white-space: nowrap;     Prevents wrapping to the next line */
  display: flex;           /* Enables flexbox layout */
  gap: 10px;               /* Adds space between each MetricBox */
  border-radius: 10px;
  background-color: #4A3625;
  margin-top: 40px; /* Add this line to create space above the component */
  width: 95%; /* Makes the box take up 90% of its container width */
  max-width: 67000px; /* Optional: sets a maximum width */
  margin-left: auto; /* Centers the box horizontally */
  margin-right: auto;
}

.OliBox-box {
  width: 100%;            /* Makes the box take up 100% of the wrapper width */
  padding: 10px;         /* Adds padding inside the box */
  border-radius: 10px;
  /* Remove height property to allow vertical growth */
}
